[submodule "cuda"]
	path = cuda
	url = https://github.com/korczis/skull-cuda.git
[submodule "haskell"]
	path = haskell
	url = https://github.com/korczis/skull-haskell.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/korczis/skull-erlang.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/korczis/skull-nodejs.git
[submodule "cpp"]
	path = cpp
	url = https://github.com/korczis/skull-cpp.git
[submodule "js"]
	path = js
	url = https://github.com/korczis/skull-js.git
[submodule "ruby"]
	path = ruby
	url = https://github.com/korczis/skull-ruby.git
